<p id="notice"><%= notice %></p>

<p>
  <b>Tien:</b>
  <%= @ngay.Tien %>
</p>

<p>
  <b>Ghichu:</b>
  <%= @ngay.Ghichu %>
</p>

<p>
  <b>Tong:</b>
  <%= @ngay.Tong %>
</p>


<%= link_to 'Edit', edit_ngay_path(@ngay) %> |
<%= link_to 'Back', ngays_path %>
